.horBar{
    border: solid; 
    border-width: 1px; 
    border-color: black; 
    margin: 5px; 
    min-height: 100px; 
}
.inlineButtons{
    display: inline-block; 
    min-height: 90px; 
    margin: 2.5px; 
    font-size: 19px; 
}
#buttonLeft{
    float: left; 
}
#buttonRight{
    float: right; 
}
.item{
    height: 80px; 
    width: 60px; 
    display: inline-block; 
    background: blue;
    color: white; 
    margin: 4px; 
    margin-top: 7px; 
    border: outset; 
    border-color: silver; 
    border-width: 4px; 
    position: relative;
}